.venv

# Virtual environments
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store